@page
@model BloodDonation.Pages.Staff.Coordinator_mainModel
@{
    ViewData["Title"] = "Coordinator";
}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="with-welcome-text">

    <div class="container-scroller d-flex flex-column">

        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout  d-flex align-items-top flex-row">

            <div class="navbar-menu-wrapper d-flex align-items-top">
                <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">John Doe</span></h1>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper row col-lg-12">

            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-tab">
                            <div class="tab-content tab-content-basic">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                    <div class="row">
                                        <div class="col-lg-8 d-flex flex-column">
                                            <div class="row flex-grow">
                                                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                        <div class="card-body">
                                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <h4 class="card-title card-title-dash">Events</h4>
                                                                </div>
                                                            </div>
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">#</th>
                                                                        <th scope="col">Name</th>
                                                                        <th scope="col">Date</th>
                                                                        <th scope="col">Location</th>
                                                                        <th scope="col">Description</th>
                                                                        <th scope="col"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">1</th>
                                                                        <td>Mark</td>
                                                                        <td>Otto</td>
                                                                        <td>mdo</td>
                                                                        <td>mdo</td>
                                                                        <td class="">
                                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-primary">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">2</th>
                                                                        <td>Jacob</td>
                                                                        <td>Thornton</td>
                                                                        <td>fat</td>
                                                                        <td>mdo</td>
                                                                        <td class="">
                                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-primary">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">1</th>
                                                                        <td>Mark</td>
                                                                        <td>Otto</td>
                                                                        <td>mdo</td>
                                                                        <td class="">
                                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-primary">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">2</th>
                                                                        <td>Jacob</td>
                                                                        <td>Thornton</td>
                                                                        <td>fat</td>
                                                                        <td class="">
                                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-primary">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">1</th>
                                                                        <td>Mark</td>
                                                                        <td>Otto</td>
                                                                        <td>mdo</td>
                                                                        <td class="">
                                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-primary">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">2</th>
                                                                        <td>Jacob</td>
                                                                        <td>Thornton</td>
                                                                        <td>fat</td>
                                                                        <td class="">
                                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-primary">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">1</th>
                                                                        <td>Mark</td>
                                                                        <td>Otto</td>
                                                                        <td>mdo</td>
                                                                        <td class="">
                                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-primary">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">2</th>
                                                                        <td>Jacob</td>
                                                                        <td>Thornton</td>
                                                                        <td>fat</td>
                                                                        <td class="">
                                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-primary">Remove</button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 d-flex flex-column">
                                            <div class="row flex-grow">
                                                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                                    <div class="card bg-primary card-rounded">
                                                        <div class="card-body pb-0">
                                                            <h4 class="card-title card-title-dash text-white mb-4">Events Summary</h4>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <p class="status-summary-ight-white text-white mb-1">Number of Events</p>
                                                                    <h2 class="text-info">357</h2>
                                                                </div>
                                                                <div class="col-sm-8">
                                                                    <div class="status-summary-chart-wrapper pb-4">
                                                                        <!--Add graph-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                                                        <div>
                                                                            <button type="button" class="btn btn-primary">Add an event</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</body>
<script type="module" src="~/lib/chartjs/chart.umd.js"></script>
</html>