@page
@model BloodDonation.Pages.Staff.Admin.SteffModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/chartjs/Chart.css" />
</head>
<body class="with-welcome-text">

    <div class="container-scroller d-flex flex-column">


        <div class="container-fluid page-body-wrapper row col-lg-12">
            <!-- partial:partials/_sidebar.html -->


            <div class="row align-items-center justify-content-between">
                <div class="col-auto aos-init aos-animate" data-aos="fade-right" data-aos-delay="1100">
                    <a class="btn btn-primary" href="/Staff/Admin_main">
                        Home
                    </a>
                </div>
                <div class="col-auto aos-init aos-animate" data-aos="fade-left" data-aos-delay="1100">
                    <a href="./Donors" class="btn btn-secondary d-none d-md-inline-block me-sm-20 fw-5 link-light-1">Donors</a>

                    <a href="./Teams" class="btn btn-secondary d-none d-md-inline-block me-sm-20 fw-5 link-light-1">Teams</a>

                    <a href="./Events" class="btn btn-secondary d-none d-md-inline-block me-sm-20 fw-5 link-light-1">Events</a>

                    <a href="./Staff" class="btn btn-secondary active d-none d-md-inline-block me-sm-20 fw-5 link-light-1">Staff</a>
                </div>
            </div>
            <br />

            <!-- partial -->
            <div class="main-panel col-lg-12 d-flex flex-column">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="home-tab">
                                <div class="tab-content tab-content-basic">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                        <div class="row">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">Admin</h4>
                                                        </div>
                                                    </div>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Staff ID</th>
                                                                <th scope="col">Admin ID</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">age</th>
                                                                <th scope="col">Phone Number</th>
                                                                <th scope="col">Years of Experience</th>
                                                                <th scope="col">Role</th>
                                                                <th scope="col">Email</th>
                                                                <th scope="col">Password</th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td class="">
                                                                    <button type="button" class="btn btn-primary">Edit</button>
                                                                    <button type="button" class="btn btn-primary">Remove</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">Coordinator</h4>
                                                        </div>
                                                    </div>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Staff ID</th>
                                                                <th scope="col">Coordinator ID</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">age</th>
                                                                <th scope="col">Phone Number</th>
                                                                <th scope="col">Years of Experience</th>
                                                                <th scope="col">Role</th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td class="">
                                                                    <div class="dropdown">
                                                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                                            More
                                                                        </a>

                                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</body>
</html>