@page
@model BloodDonation.Pages.DonorsModel
@{
}


<P4>Eligability</P4>
<select id="Eligability">
    <option value="Eligable">Eligable</option>
    <option value="Not-Eligable">Not-Eligable</option>

</select>