@page
@model PrivacyModel
@{
    
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for your help!</p>

<div class="card-body">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Event Name" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Location" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Date</span>
        <input type="text" class="form-control" placeholder="Day" aria-label="Username" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Month" aria-label="Username" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Year" aria-label="Username" aria-describedby="basic-addon1">

    </div>
    <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
</div>