@page
@model BloodDonation.Pages.TeamModel
@{
}
<div class="Team_id">
    <input type="text" class="form-control" placeholder="Your ID" aria-label="T_ID" aria-describedby="basic-addon1">
</div>
<br>
<div class="Team_name">
    <input type="text" class="form-control" placeholder="Name" aria-label="TeamName" aria-describedby="basic-addon1">
</div>
<br>
<div class="Leader_id">
    <input type="text" class="form-control" placeholder="Leader ID" aria-label="ID" aria-describedby="basic-addon1">
</div>
<br>